force-app/main/default/flows/JBSystemFlow_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_FireJBTrigger</name>
        <label>SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;HealthCloudGA__PrimaryContact__c&quot;,&quot;relationshipName&quot;:&quot;HealthCloudGA__PrimaryContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534000910</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email__c&quot;,&quot;First_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;HealthCloudGA__PrimaryContact__r&quot;,&quot;dePrefix&quot;:&quot;Account:HealthCloudGA__PrimaryContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_FireJBTrigger</name>
        <label>SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;HealthCloudGA__PrimaryContact__c&quot;,
  &quot;relationshipName&quot;: &quot;HealthCloudGA__PrimaryContact__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534000910</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email__c&quot;,&quot;First_Name__c&quot;,&quot;Tracking_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;HealthCloudGA__PrimaryContact__r&quot;,&quot;dePrefix&quot;:&quot;Account:HealthCloudGA__PrimaryContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_FireJBTrigger</name>
        <label>SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;HealthCloudGA__PrimaryContact__c&quot;,&quot;relationshipName&quot;:&quot;HealthCloudGA__PrimaryContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjed7165c0af8e951d0bf10ee05e3acb84</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534000910</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email__c&quot;,&quot;First_Name__c&quot;,&quot;Tracking_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;HealthCloudGA__PrimaryContact__r&quot;,&quot;dePrefix&quot;:&quot;Account:HealthCloudGA__PrimaryContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</name>
        <label>JB_Decision_Null_Check_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HealthCloudGA__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</targetReference>
            </connector>
            <label>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</name>
        <label>JB_Decision_Null_Check_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HealthCloudGA__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84</name>
        <label>JB_Decision_Null_Check_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HealthCloudGA__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</targetReference>
            </connector>
            <label>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Decision</name>
        <label>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HealthCloudGA__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Patient_Protocols__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_State_change_Decision</name>
        <label>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.HealthCloudGA__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Patient_Protocols__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Decision</name>
        <label>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HealthCloudGA__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_State_change_Decision</name>
        <label>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.HealthCloudGA__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja9fa43ea644e0112a41d6dd82b4b8e18</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Decision</name>
        <label>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjed7165c0af8e951d0bf10ee05e3acb84</name>
            <conditionLogic>(1 AND  ( ( ( ( ( (2 AND 3)  AND 4)  AND 5)  AND 6)  AND 7)  AND 8) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HealthCloudGA__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.First_Prescription_Sent_to_Patient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Renewal_Prescription_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Renewal_Prescription_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Renewal_Prescription_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Renewal_Prescription_4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Renewal_Prescription_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjed7165c0af8e951d0bf10ee05e3acb84</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_State_change_Decision</name>
        <label>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj21347dfbb57140b84cb8eb29b5b44dc6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84</name>
            <conditionLogic>NOT  (1 AND  ( ( ( ( ( (2 AND 3)  AND 4)  AND 5)  AND 6)  AND 7)  AND 8) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.HealthCloudGA__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Tracking_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.First_Prescription_Sent_to_Patient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Renewal_Prescription_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Renewal_Prescription_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Renewal_Prescription_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Renewal_Prescription_4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Renewal_Prescription_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Account</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjed7165c0af8e951d0bf10ee05e3acb84</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
