force-app/main/default/flows/Lead_to_Jot_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Lead to Jot Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead to Jot Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Jot_Form_Record</name>
        <label>Create Jot Form Record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Delete_Lead_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Patient_Id__c</field>
            <value>
                <elementReference>$Record.Patient_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_01__c</field>
            <value>
                <elementReference>$Record.Question_01__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_02__c</field>
            <value>
                <elementReference>$Record.Question_02__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_03__c</field>
            <value>
                <elementReference>$Record.Question_03__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_04__c</field>
            <value>
                <elementReference>$Record.Question_04__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_05__c</field>
            <value>
                <elementReference>$Record.Question_05__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_06__c</field>
            <value>
                <elementReference>$Record.Question_06__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_07__c</field>
            <value>
                <elementReference>$Record.Question_07__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_08__c</field>
            <value>
                <elementReference>$Record.Question_08__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_09__c</field>
            <value>
                <elementReference>$Record.Question_09__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_10_1__c</field>
            <value>
                <elementReference>$Record.Question_10_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_10_2__c</field>
            <value>
                <elementReference>$Record.Question_10_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_11_1__c</field>
            <value>
                <elementReference>$Record.Question_11_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_11_2__c</field>
            <value>
                <elementReference>$Record.Question_11_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_11_3__c</field>
            <value>
                <elementReference>$Record.Question_11_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_12_1__c</field>
            <value>
                <elementReference>$Record.Question_12_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_12_2__c</field>
            <value>
                <elementReference>$Record.Question_12_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_12_3__c</field>
            <value>
                <elementReference>$Record.Question_12_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_13__c</field>
            <value>
                <elementReference>$Record.Question_13__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_14__c</field>
            <value>
                <elementReference>$Record.Question_14__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_15_1__c</field>
            <value>
                <elementReference>$Record.Question_15_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_15_2__c</field>
            <value>
                <elementReference>$Record.Question_15_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_16__c</field>
            <value>
                <elementReference>$Record.Question_16__c</elementReference>
            </value>
        </inputAssignments>
        <object>Jot_Form__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Lead_Record</name>
        <label>Delete Lead Record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Jot_Form_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
